Click==7.0
Flask==1.1.1
gunicorn==19.9.0
image-slicer==0.2.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
numpy==1.16.4
opencv-python==4.1.0.25
Pillow==6.1.0
pytesseract==0.2.7
regex==2019.6.8
uWSGI==2.0.18
Werkzeug==0.15.5
